<%= render :partial => 'forms/search_form', :locals => { :methodtype => 'get',
														 :url_back => actors_path,
														 :placeholder => "Enter an actor's name..." } %>

<% if @actors.any? %>
	<div id="actors">
		<div class="page">
		<ul class="actors">
			<%= render @actors %>
		</ul>
		</div>
	</div>
<% else %>

	<p>No actors found</p>

<% end %>