<div class="search-form">
	<%= form_tag actors_path, :method => 'get' do %>

		<p><%= text_field_tag :search, params[:search], :placeholder => "Enter an actor's name..." %></p>
		<p><%= submit_tag "Search", :name => nil %></p>
		

	<% end %>
</div>

<% if @actors.any? %>

<div id="divactors">
	<div class="page">
		<ul class="actors">
			<%= render @actors %>
		</ul>
	</div>
</div>
	
<% end %>

<script type="text/javascript">
(function() {
  var page = 1,
      loading = false;

  function nearBottomOfPage() {
    return $(window).scrollTop() > $(document).height() - $(window).height() - 200;
  }

  $(window).scroll(function(){
    if (loading) {
      return;
    }

    if(nearBottomOfPage()) {
      loading=true;
      page++;
      $.ajax({
        url: '/actors?page=' + page,
        type: 'get',
        dataType: 'script',
        success: function() {
          $(window).sausage('draw');
          loading=false;
        }
      });
    }
  });

  $(window).sausage();
}());
</script>