<ul class="actors">
<% @actors.each do |a| %>

<li>

<% if a.image_path.nil? %>


<% else %>

	<%= link_to (image_tag "http:" + a.image_path), actor_path(a) %>

<% end %>
</li>
<% end %>

</ul>