<div class="search-form">
	<%= form_tag actors_path, :method => 'get' do %>

		<p><%= text_field_tag :search, params[:search], :placeholder => "Enter an actor's name..." %></p>
		<p><%= submit_tag "Search", :name => nil %></p>
		

	<% end %>
</div>

<% if @actors.any? %>
	<ul class="actors">

		<% @actors.each do |a| %>

			<li>
				<% if a.image_path.nil? %>


				<% else %>

					<%= link_to (image_tag "http:" + a.image_path), actor_path(a) %>

				<% end %>
			</li>
		<% end %>

	</ul>
<% else %>

	<p class='no-results'>No results found</p>

<% end %>

