<div class="search-form">
	<%= form_tag url_back, :method => methodtype do %>

		<p><%= text_field_tag :search, params[:search], :placeholder => placeholder %></p>
		<p><%= submit_tag "Search", :name => nil %></p>

	<% end %>
</div>