html {
	margin: 0;
	padding: 0;
}

body {
	background: #333;
	font-family: Cambria, Cochin, Georgia, serif;
	font-size: 24px;
}

/* Search box stytling */

input {
	font-family: Cambria, Cochin, Georgia, serif;
	font-size: 24px;
	padding: 5px;

	&[type=text] {
		text-align: center;
		width: 295px;
		margin-top: 25px;
		outline: none;
		border: 2px solid #999999;
		border-radius: 5px;
		background-color: #FBFBFB;
	}
	&[type=submit] {
		width: 100px;
		
	}
}

.search-form {
	text-align: center;
}

/* will_paginate styling */

.pagination {
	text-align: center;
	position: fixed;
	bottom: 0px;
	margin-bottom: 10px;
	width: 100%;
	a {
		font-color: white; 
	}
}