html {
	margin: 0;
	padding: 0;
}

body {
	background: #333;
	font-family: Cambria, Cochin, Georgia, serif;
	font-size: 26px;
}

/* Search box stytling */

input[type=text] {
	
	
}

input[type=submit] {
	
}

input {
	text-align: center;
	padding: 5px;
	font-family: Cambria, Cochin, Georgia, serif;
	font-size: 26px;
	&[type=text] {
		width: 295px;
		margin-top: 25px;
		outline: none;
		border: 2px solid #999999;
		border-radius: 5px;
		background-color: #FBFBFB;
	}
	&[type=submit] {
		width: 100px;
		font-size: 20px;
	}
}

div.search-form {
	text-align: center;
}

p.no-results {
	float: none;
	text-align: center;
}